body {
  background-color: rgb(35, 46, 44);
}

.section-resume {
  background-color: rgb(156, 228, 218);
  width: 100%;
}

.section-inputs {
  background-color: rgb(52, 109, 106);
  width: 100%;
}

.section-result {
  background-color: gainsboro;
  height: 50px;
}

.input {
  width: 70%;
}

.button {
  width: 30%;
  margin-top: 20px;
  background-color: rgb(24, 71, 67);
  color: white;
  border: none;
  border-radius: 15px;
}
